* {
  margin: 0;
  padding: 0;
}

.main-div {
  background-image: url("../../public/home-glob.png");
  background-color: #282932 !important;
  padding-top: 100px;
  height: auto;
  height: 750px;
  background-position: top center;
  background-size: cont;
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
}

.inner-div {
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 750px;
  background-position: top center;
  padding-top: 20px;
  padding-left: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/* banner section start */

/* banner-section ended */

.banner-text h1 {
  color: white;
  font-size: 80px !important;
}
.banner-text p {
  color: white;
  font-size: 18px;
  line-height: 30px !important;
}

.read-more-btn {
  width: auto;
  border-radius: 35px !important;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 16px !important;
  font-weight: 600;
}

/* media query start */
@media (max-width: 991px) {
  .banner-text {
    display: flex;
    justify-items: center;
  }
  .main-div {
    height: 1200px;
    justify-content: center;
  }
  .banner-text h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .banner-text p {
    font-size: 0.95rem;
    text-align: center;
    padding: 0 1rem;
  }

  .banner-text {
    margin-bottom: 2rem;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}
/* media query ended */

/* custome shape start */
.custom-shape-divider-bottom-1746805622 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1746805622 svg {
  position: relative;
  display: block;
  width: calc(200% + 1.3px);
  height: 303px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1746805622 .shape-fill {
  fill: #ffffff;
}

/* custom shape ended */
.card {
  /* border: none;
  border-radius: 20px;
  background-color: #f2efe6; */
}
.card:hover {
  border: none;

  transform: scale(1.08);
  transition: transform 0.2s ease;
}

.cards-home {
  top: 80%;
}

.new-div {
  display: block;
}
