@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Oswald:wght@200..700&display=swap");

.banner {
  height: auto;
}

.banner-img {
  background-image: url("../../public/banner-right-img.avif");
  background-size: cover;
  background-position: center;
  height: 450px;
  display: flex;
}

.btn:hover {
  color: #fff;
}

.input-text:focus {
  box-shadow: 0px 0px 0px;
  border-color: #f8c146;
  outline: 0px;
}

/* .form-control {
  /* border: 1px solid #f8c146; 
 }
  */

/* listing css of home and destination  */

.banner-div .listing .list-inline-item::after {
  content: ">";
  padding: 0 0.5rem;
  color: #999;
}

.banner-div .listing .list-inline-item:last-child::after {
  content: "";
}
.left-banner {
  background-image: url("../../public/leftbanner.jpg");
  background-size: cover;
  background-position: center;
}
/* prepare image food div */
.fire-div h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.prepare-food-img {
  background-image: url("../../public/coockingwithfire.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  display: flex;
}

/* find cities div */
.find-in-cities {
  background-color: "#F0F2F2";
}

.find-in-cities h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.img-container {
  position: inherit;
  overflow: hidden;
}
.img-container img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: auto;
}

.img-container:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
